.wrapper {
    border-radius: 6px;
    border: 2px solid transparent;
    padding: 2px;
}

.selected {
    border: 2px solid var(--primary-color);
}

.selected-and-focused {
    border: 2px solid var(--outline-color);
}

.image {
    display: block;
    border-radius: 4px;
    height: 280px;
    object-fit: cover;
}
